@charset "UTF-8";
	body{
		margin: 0;
		padding: 0;
	}
	
	.menu{
		display: flex;
		flex-direction: column;
		background: red;
		padding: 15px 10px;
	}
	
	.menu .user_menu{
		display: flex;
		justify-content: space-between;
	}
	
	.user_menu, .movie_menu{
		margin: 0 auto;
		width: 90%;
	}
	
	.user_menu > img{
		width: 60px;
		height: 25px;
		background : white;
		margin-top: 20px;
	}
	
	.user_menu ul{
		display: flex;
		justify-content: flex-end;
	}
	
	.user_menu li{
		list-style-type: none;
		margin : 10px;
		font-size: 8px;
		color: white;
		font-weight: bold;
	}
	
	#icon{
		width: 18px;
		height: 18px;
	}
	
	.user_menu a{
		text-decoration: none;
	}
	
	.movie_menu{
		display: flex;
		justify-content: space-between;
		background: white;
		padding: 15px 10px;
	}
	
	.movie_menu a{
		text-decoration: none;
		color: black;
		font-weight: bold;
		font-size: 10px;
		margin: 10px;
	}
	
	.movie_contents input{
		display:flex;
		justify-content: flex-end;
	}